Debug/coco_person_yolo
Debug/himax-ml-export
Debug/darknet.exe
Debug/darknet.pdb
Debug/darknetd.dll
Debug/darknetd.exp
Debug/kmeansiou.exe
Debug/kmeansiou.pdb
Debug/opencv_world4100d.dll
Debug/pthreadVC2.dll
Debug/darknetd.lib
Debug/darknetd.pdb
Debug/test.py
Debug/uselib.exe
Debug/uselib.pdb
